<md-toolbar color="primary">
  <md-icon (click)="sidenav.toggle()">list</md-icon>
  <span class="brand"><a routerLink="">Secure Notes</a></span>
  <span class="spacer"></span>
  <!--<button md-button [mdMenuTriggerFor]="menu">Menu</button>-->
  <!--<md-menu #menu="mdMenu">-->
    <!--<button md-menu-item>Default</button>-->
    <!--<button md-menu-item (click)="newProject()">Create new project</button>-->
  <!--</md-menu>-->
  <!--<md-select placeholder="Select Project" [(ngModel)]="selectedProject" name="project">-->
  <!--<md-option *ngFor="let project of projects" [value]="project">-->
  <!--{{project}}-->
  <!--</md-option>-->
  <!--</md-select>-->
  <a href="https://github.com/rosinghal/secure-note" class="github-link" target="_blank"><md-icon>code</md-icon></a>
</md-toolbar>

<md-sidenav-container>
  <md-sidenav #sidenav mode="side" opened="true">
    <app-list (notify)="onNotify($event)"></app-list>
  </md-sidenav>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>

<!--<md-toolbar>-->
<!--&copy; Secure Note-->
<!--</md-toolbar>-->
