<md-toolbar color="primary">
  <md-icon (click)="sidenav.toggle()">list</md-icon>
  <span>Secure Note</span>
  <span class="spacer"></span>
  <!--<md-select placeholder="Select Project" [(ngModel)]="selectedProject" name="project">-->
    <!--<md-option *ngFor="let project of projects" [value]="project">-->
      <!--{{project}}-->
    <!--</md-option>-->
  <!--</md-select>-->
  <a href="https://github.com/rosinghal/secure-note" class="github-link"><md-icon>cloud_download</md-icon></a>
</md-toolbar>

<md-sidenav-container>
  <md-sidenav #sidenav mode="side" opened="true">
    <app-list (notify)="onNotify($event)"></app-list>
  </md-sidenav>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>

<!--<md-toolbar>-->
  <!--&copy; Secure Note-->
<!--</md-toolbar>-->
