<md-toolbar color="primary">
  <md-icon (click)="sidenav.toggle()">list</md-icon>
  <span>Secure Note</span>
  <span class="spacer"></span>
  <a href="https://github.com/rosinghal/secure-note" class="github-link"><md-icon>cloud_download</md-icon></a>
</md-toolbar>
<md-sidenav-container>
  <md-sidenav #sidenav mode="side" opened="true">
    <ng-content select="app-list"></ng-content>
  </md-sidenav>

  <div>
    <ng-content select="app-detail"></ng-content>
  </div>
</md-sidenav-container>
<md-toolbar>
  &copy; Secure Note
</md-toolbar>
