<md-progress-bar mode="indeterminate" *ngIf="loading"></md-progress-bar>

<md-card
  ng2FileSelect
  ng2FileDrop
  (fileOver)="fileOver($event)"
  [uploader]="uploader"
>
  <md-card-content>
    <md-input-container class="example-full-width">
      <textarea
        mdInput
        required
        (input)="content$.next($event.target.value)"
        [(ngModel)]="doc.content"
        name="content"
        placeholder="Content"
        #content="ngModel"
      ></textarea>
    </md-input-container>
  </md-card-content>
  <button class="delete-btn" type="button" md-mini-fab mdTooltip="Delete?" (click)="deleteNote()">
    <md-icon>delete</md-icon>
  </button>
  <div *ngIf="attachments.length">
    <ul class="files">
      <li *ngFor="let attachment of attachments">
        <a [href]="attachment.url" target="_blank">
          {{attachment.name}}
        </a>
      </li>
    </ul>
  </div>
</md-card>
