.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}

.example-fab {
  position: absolute;
  right: 20px;
  bottom: 10px;
}

.example-full-width {
  width: 100%;
}

md-card {
  margin: 10px;
}

textarea {
  resize:vertical;
}

.example-spacer {
  flex: 1 1 auto;
}
