<md-progress-bar mode="indeterminate" *ngIf="loading"></md-progress-bar>

<!--<form (submit)="addNote()" #heroForm="ngForm">-->
  <md-card>
    <md-card-content>
      <button class="delete-btn" type="button" md-mini-fab mdTooltip="Delete?" (click)="deleteNote()" *ngIf="form._id && form._rev">
        <md-icon>delete</md-icon>
      </button>
      <md-input-container class="example-full-width">
        <input md-input required (input)="subject$.next($event.target.value)" [(ngModel)]="form.subject" name="subject" placeholder="Subject">
               <!--#subject="ngModel">-->
      </md-input-container>
      <md-input-container class="example-full-width">
        <textarea md-input required (input)="body$.next($event.target.value)" [(ngModel)]="form.body" name="body" placeholder="Body"></textarea>
                  <!--#body="ngModel"></textarea>-->
      </md-input-container>
    </md-card-content>
    <!--<md-card-actions>-->
      <!--&lt;!&ndash;<button type="submit" md-raised-button>Submit</button>&ndash;&gt;-->
      <!--<span class="spacer"></span>-->
      <!--<button type="button" md-raised-button mdTooltip="Delete this note?" (click)="deleteNote()" *ngIf="form._id && form._rev">-->
        <!--<md-icon>delete</md-icon>-->
      <!--</button>-->
    <!--</md-card-actions>-->
  </md-card>
<!--</form>-->
