.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}

.example-full-width {
  width: 100%;
}

md-card {
  margin: 10px;
}

textarea {
  resize: none;
  height: calc(100vh - 220px);
}

.delete-btn {
  position: fixed;
  right: 20px;
}

ul.files {
  display: flex;
  flex-direction: row;
  /* Below sets up your display method: flex-start|flex-end|space-between|space-around */
  justify-content: flex-start;
  /* Below removes bullets and cleans white-space */
  list-style: none;
  padding: 0;
  /* Bonus: forces no word-wrap */
  white-space: nowrap;
}

ul.files li + li:before {
  content: ', ';
}
